name: Build

on:
  push:
    branches-ignore: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Use NodeJS 17.4.0
        uses: actions/setup-node@master
        with:
          node-version: '17.4.0'
          cache: npm

      - name: Install dependencies 
        run: npm install

      - name: Test
        run: npm test

      - name: Build
        run: npm run build